clientBackEnd/src/main/resources/agentSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           targetNamespace="http://www.ftn.uns.ac.rs/agenti" xmlns="http://www.ftn.uns.ac.rs/agenti">
    <xs:element name="loginAgentRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="email" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="loginAgentResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="password" type="xs:string"/>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="surname" type="xs:string"/>
                <xs:element name="email" type="xs:string"/>
                <xs:element name="regNumber" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
